.flex-container{
    display: flex;
    justify-content: space-around;
    width: 900px;
    height: 450px;
    background-color: aqua;
    border: 3px solid greenyellow;
    align-items: center;
    align-content: space-between;
}
.flex-item{
    flex: 0 1 auto;
    border: 1px solid blue;
    background-color: aliceblue;
    height: 50px;
    width: 100px;
    text-align: center;
}
body{
    background-color: blanchedalmond;
}